button.green,
button.red {
  height: 20px;
  width: 100px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 2px 4px;
}

button.green {
  background: #4caf50;
}

button.red {
  background: red;
}
