button.green,
button.red {
  height: 20px;
  width: 100px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  border: none;
  margin: 2px 4px;
}
button.normal {
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 10px;
  float: left;
}

button.green {
  background: rgba(128, 222, 234, 0.8);
}

button.red {
  background: red;
}
