div.editing {
  border: gray dotted 1px;
  border-radius: 4px;
  background-color: #eeffee;
}
div.editing h5 {
  text-align: center;
  padding: 0;
  margin: 0;
}

div.editing textarea {
  width: 90%;
  height: 60px;
}
div.editing button {
  margin: 10px 0 4px 4px;
}
div.emptyDiv {
  height: 70vh;
}
div.emptyDiv p {
  text-align: center;
  margin-top: 100px;
}
ol.incomplete,
ol.complete {
  padding: 0 0 0 28px;
}
li.complete,
li.incomplete {
  padding: 2px;
  margin: 2px;
}
li.complete:hover {
  border: green 1px dotted;
  cursor: grab;
}
li.incomplete:hover {
  border: red 1px dotted;
  cursor: grab;
}
