div.editing {
  border: gray dotted 1px;
  border-radius: 4px;
  background-color: #eeffee;
}
div.editing h5 {
  text-align: center;
  padding: 0;
  margin: 0;
}

div.editing textarea {
  width: 90%;
  height: 60px;
}

div.emptyDiv {
  height: 70vh;
}
div.emptyDiv p {
  text-align: center;
  margin-top: 100px;
}
