div.header {
  background-color: black;
  color: aliceblue;
  width: 100%;
}
div.header h2,
div.header h3 {
  margin: 0;
}
div.header h2 {
  padding: 4px;
  text-align: center;
}
div.subheader {
  color: black;
  width: 100%;
  /* display: flex; */
}

div.subheader button {
  float: right;
}

div.subheader Link {
  cursor: pointer;
}
