.header > h2 {
  cursor: pointer;
}

.swal2-styled.swal2-confirm {
  background-color: #00bcd4 !important;
  box-shadow: none !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: none !important;
}

/* Additional global styles for SweetAlert2 if needed */
body.swal2-shown:not(.swal2-no-backdrop) {
  overflow-y: hidden !important;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }
}
