div.UI {
  width: 100%;
  border: none;
}
div.UI button {
  height: 40px;
  width: 300px;
  background: #4caf50;
  border-radius: 20px;
  color: #fff;
  margin: 20px 35%;
  cursor: pointer;
  border: none;
}
@media (max-width: 500px) {
  div.UI button {
    width: 200px;
    margin: 20px 20%;
  }
}
