div.landing {
  padding: 100px 10px 10px 20px;
  height: 70vh;
  width: 100%;
  float: left;
  text-align: center;
}

div.landing h1 {
  font-weight: 800;
}

@media (max-width: 500px) {
  div.landing {
    height: 50vh;
  }
  div.landing h1 {
    font-size: 22px;
  }
}
